div.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #564921;
}
div.navbar li {
  float: left;
}

div.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div.navbar li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #223996;
}
